<!DOCTYPE html>

<html lang="en">
  <head>
      <title>Hexa</title>

      <link href="application.css" media="screen" rel="stylesheet" type="text/css" >
      <script data-main="javascripts/boot" src="javascripts/vendor/requirejs/require.js"></script>
  </head>

  <body>
    <article class="app"></article>
  </body>
</html>