<!DOCTYPE html>

<html lang="en">
  <head>
      <title>Hexa</title>

      <%- javascriptTag() %>
      <%- stylesheetTag() %>
  </head>

  <body>
    <article class="app"></article>
  </body>
</html>