<!DOCTYPE html>

<html lang="en">
  <head>
      <title>Hexa</title>

      <meta name="hexa-endpoint"     content="<%= endpoint %>">
      <meta name="hexa-access-token" content="<%= accessToken %>">

      <%- javascriptTag() %>
      <%- stylesheetTag() %>
  </head>

  <body>
    <article class="app"></article>
  </body>
</html>